Can you pair products with people?

Ready to make a downpayment on your first house? Or looking to leverage the equity in the home you have? To support needs for a range of financial decisions, Santander Bank offers a lending hand to their customers through personalized product recommendations.

Under their current system, a small number of Santander’s customers receive many recommendations while many others rarely see any resulting in an uneven customer experience. In their second competition, Santander is challenging Kagglers to predict which products their existing customers will use in the next month based on their past behavior and that of similar customers.

With a more effective recommendation system in place, Santander can better meet the individual needs of all customers and ensure their satisfaction no matter where they are in life.

In this competition, you are provided with 1.5 years of customers behavior data from Santander bank to predict what new products customers will purchase. The data starts at 2015-01-28 and has monthly records of products a customer has, such as "credit card", "savings account", etc. You will predict what additional products a customer will get in the last month, 2016-06-28, in addition to what they already have at 2016-05-28. These products are the columns named: ind_(xyz)_ult1, which are the columns #25 - #48 in the training data. You will predict what a customer will buy in addition to what they already had at 2016-05-28. 

The test and train sets are split by time, and public and private leaderboard sets are split randomly.

Please note: This sample does not include any real Santander Spain customers, and thus it is not representative of Spain's customer base. 
File descriptions

    train.csv - the training set
    test.csv - the test set
    sample_submission.csv - a sample submission file in the correct format

Data fields
Column Name	Description
fecha_dato 	The table is partitioned for this column
ncodpers 	Customer code
ind_empleado 	Employee index: A active, B ex employed, F filial, N not employee, P pasive
pais_residencia 	Customer's Country residence
sexo 	Customer's sex
age 	Age
fecha_alta 	The date in which the customer became as the first holder of a contract in the bank
ind_nuevo 	New customer Index. 1 if the customer registered in the last 6 months.
antiguedad 	Customer seniority (in months)
indrel 	1 (First/Primary), 99 (Primary customer during the month but not at the end of the month)
ult_fec_cli_1t 	Last date as primary customer (if he isn't at the end of the month)
indrel_1mes 	Customer type at the beginning of the month ,1 (First/Primary customer), 2 (co-owner ),P (Potential),3 (former primary), 4(former co-owner)
tiprel_1mes 	Customer relation type at the beginning of the month, A (active), I (inactive), P (former customer),R (Potential)
indresi 	Residence index (S (Yes) or N (No) if the residence country is the same than the bank country)
indext 	Foreigner index (S (Yes) or N (No) if the customer's birth country is different than the bank country)
conyuemp 	Spouse index. 1 if the customer is spouse of an employee
canal_entrada 	channel used by the customer to join
indfall 	Deceased index. N/S
tipodom 	Addres type. 1, primary address
cod_prov 	Province code (customer's address)
nomprov 	Province name
ind_actividad_cliente 	Activity index (1, active customer; 0, inactive customer)
renta 	Gross income of the household
segmento 	segmentation: 01 - VIP, 02 - Individuals 03 - college graduated
ind_ahor_fin_ult1 	Saving Account
ind_aval_fin_ult1 	Guarantees
ind_cco_fin_ult1 	Current Accounts
ind_cder_fin_ult1 	Derivada Account
ind_cno_fin_ult1 	Payroll Account
ind_ctju_fin_ult1 	Junior Account
ind_ctma_fin_ult1 	Más particular Account
ind_ctop_fin_ult1 	particular Account
ind_ctpp_fin_ult1 	particular Plus Account
ind_deco_fin_ult1 	Short-term deposits
ind_deme_fin_ult1 	Medium-term deposits
ind_dela_fin_ult1 	Long-term deposits
ind_ecue_fin_ult1 	e-account
ind_fond_fin_ult1 	Funds
ind_hip_fin_ult1 	Mortgage
ind_plan_fin_ult1 	Pensions
ind_pres_fin_ult1 	Loans
ind_reca_fin_ult1 	Taxes
ind_tjcr_fin_ult1 	Credit Card
ind_valo_fin_ult1 	Securities
ind_viv_fin_ult1 	Home Account
ind_nomina_ult1 	Payroll
ind_nom_pens_ult1 	Pensions
ind_recibo_ult1 	Direct Debit

# Create roadmap

1.) import packages for EDA-Summarizing (Exploratory Data Analysis)
2.) missing values, preprocessing, feature engineering, visualizations
3.) modeling
4.) Predictive models
    Logistic regression
    Extra Tree Classifier
    Random Forest Classifier
    
5.) Recommendation Algorithms
    SVD-Singular Value Decomposition
    Collaborative Filtering
    Associative rules
    ECLAT

In [2]:
%matplotlib inline


import pandas as pd# data analysis
import numpy as np
import os

import matplotlib.pyplot as plt
import seaborn



DATA_DIR = '/home/msingh/Documents/pair_projects/'

In [9]:
from subprocess import check_output 
print(check_output(["ls", "/home/msingh/Documents/pair_projects/"]).decode("utf8")) 

# Any results you write to the current directory are saved as output. 
import seaborn as sns 
import matplotlib.pyplot as plt 
from sklearn.cross_validation import train_test_split 
from sklearn import metrics 
from sklearn.cross_validation import KFold, cross_val_score 
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import roc_auc_score 
from collections import defaultdict 
%pylab inline 
pylab.rcParams['figure.figsize'] = (10, 6)

pair_projects.ipynb
sample_submission.csv
test_ver2.csv
train_ver2.csv

Populating the interactive namespace from numpy and matplotlib

In [10]:
# Calibrate the number of rows to not crash the kernel 
limit_rows = 50000 
df = pd.read_csv("train_ver2.csv",dtype={"sexo":str, "ind_nuevo":str, "ult_fec_cli_1t":str, "indext":str}, nrows=limit_rows) 
test = pd.read_csv("test_ver2.csv",dtype={"sexo":str, "ind_nuevo":str, "ult_fec_cli_1t":str, "indext":str}, nrows=limit_rows) 
# Format to datetime data,maybe the month of the year is important to purchase 

df["month"] = pd.DatetimeIndex(df["fecha_dato"]).month 
df["age"] = pd.to_numeric(df["age"], errors="coerce") 

# Not very sure just to keep with unique_ids 'cause principal id is fecha_dato + ncodpers and if we 
# eliminate repeated ncodpers we lose some important inf

/home/msingh/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/msingh/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
# eliminate repeated ncodpers we lose some important information. 
#We take unique_ids and unique fecha_datos just to play forward. 
unique_ids = pd.Series(df["ncodpers"].unique()) 
unique_fecha_dato = df["fecha_dato"].unique() 
df.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1,month
0,1/28/2015,1050622,N,ES,H,23.0,8/10/2012,0,35,1.0,...,0,0,0,0,0,0,0.0,0.0,0,1
1,1/28/2015,1050492,N,ES,V,25.0,8/10/2012,0,35,1.0,...,0,0,0,0,0,0,0.0,0.0,0,1
2,1/28/2015,1050571,N,ES,H,23.0,8/10/2012,0,35,1.0,...,0,0,0,0,0,0,0.0,0.0,0,1
3,1/28/2015,1050915,N,ES,H,37.0,8/10/2012,0,35,1.0,...,0,0,0,0,0,0,0.0,0.0,0,1
4,1/28/2015,1050732,N,ES,H,23.0,8/10/2012,0,35,1.0,...,0,0,0,0,0,0,0.0,0.0,0,1

In [12]:
train_unique_customers = set(df.ncodpers.unique()) 
test_unique_customers = set(test.ncodpers.unique()) 
print("Number of customers in train : ", len(train_unique_customers)) 
print("Number of customers in test : ", len(test_unique_customers)) 
print("Number of common customers : ", len(train_unique_customers.intersection(test_unique_customers)))

('Number of customers in train : ', 48695)
('Number of customers in test : ', 38171)
('Number of common customers : ', 2237)

In [13]:
# Change datatype 
df["age"] = pd.to_numeric(df["age"], errors="coerce") 
df["antiguedad"] = pd.to_numeric(df["antiguedad"], errors="coerce") 
df["indrel_1mes"] = pd.to_numeric(df["indrel_1mes"], errors="coerce")

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 49 columns):
fecha_dato               50000 non-null object
ncodpers                 50000 non-null int64
ind_empleado             49891 non-null object
pais_residencia          49891 non-null object
sexo                     49891 non-null object
age                      49891 non-null float64
fecha_alta               49891 non-null object
ind_nuevo                49891 non-null object
antiguedad               49891 non-null float64
indrel                   49891 non-null float64
ult_fec_cli_1t           90 non-null object
indrel_1mes              49452 non-null float64
tiprel_1mes              49456 non-null object
indresi                  49891 non-null object
indext                   49891 non-null object
conyuemp                 5 non-null object
canal_entrada            49317 non-null object
indfall                  49891 non-null object
tipodom                  49891 non-null float64
cod_prov                 49660 non-null float64
nomprov                  49660 non-null object
ind_actividad_cliente    49891 non-null float64
renta                    39625 non-null float64
segmento                 49306 non-null object
ind_ahor_fin_ult1        50000 non-null int64
ind_aval_fin_ult1        50000 non-null int64
ind_cco_fin_ult1         50000 non-null int64
ind_cder_fin_ult1        50000 non-null int64
ind_cno_fin_ult1         50000 non-null int64
ind_ctju_fin_ult1        50000 non-null int64
ind_ctma_fin_ult1        50000 non-null int64
ind_ctop_fin_ult1        50000 non-null int64
ind_ctpp_fin_ult1        50000 non-null int64
ind_deco_fin_ult1        50000 non-null int64
ind_deme_fin_ult1        50000 non-null int64
ind_dela_fin_ult1        50000 non-null int64
ind_ecue_fin_ult1        50000 non-null int64
ind_fond_fin_ult1        50000 non-null int64
ind_hip_fin_ult1         50000 non-null int64
ind_plan_fin_ult1        50000 non-null int64
ind_pres_fin_ult1        50000 non-null int64
ind_reca_fin_ult1        50000 non-null int64
ind_tjcr_fin_ult1        50000 non-null int64
ind_valo_fin_ult1        50000 non-null int64
ind_viv_fin_ult1         50000 non-null int64
ind_nomina_ult1          49936 non-null float64
ind_nom_pens_ult1        49936 non-null float64
ind_recibo_ult1          50000 non-null int64
month                    50000 non-null int32
dtypes: float64(10), int32(1), int64(23), object(15)
memory usage: 18.5+ MB

In [15]:
df.isnull().sum()

fecha_dato                   0
ncodpers                     0
ind_empleado               109
pais_residencia            109
sexo                       109
age                        109
fecha_alta                 109
ind_nuevo                  109
antiguedad                 109
indrel                     109
ult_fec_cli_1t           49910
indrel_1mes                548
tiprel_1mes                544
indresi                    109
indext                     109
conyuemp                 49995
canal_entrada              683
indfall                    109
tipodom                    109
cod_prov                   340
nomprov                    340
ind_actividad_cliente      109
renta                    10375
segmento                   694
ind_ahor_fin_ult1            0
ind_aval_fin_ult1            0
ind_cco_fin_ult1             0
ind_cder_fin_ult1            0
ind_cno_fin_ult1             0
ind_ctju_fin_ult1            0
ind_ctma_fin_ult1            0
ind_ctop_fin_ult1            0
ind_ctpp_fin_ult1            0
ind_deco_fin_ult1            0
ind_deme_fin_ult1            0
ind_dela_fin_ult1            0
ind_ecue_fin_ult1            0
ind_fond_fin_ult1            0
ind_hip_fin_ult1             0
ind_plan_fin_ult1            0
ind_pres_fin_ult1            0
ind_reca_fin_ult1            0
ind_tjcr_fin_ult1            0
ind_valo_fin_ult1            0
ind_viv_fin_ult1             0
ind_nomina_ult1             64
ind_nom_pens_ult1           64
ind_recibo_ult1              0
month                        0
dtype: int64

In [16]:
# Drop the columns with majority of missing values 
df = df.drop(["ult_fec_cli_1t", "conyuemp"], axis=1)

In [17]:
df.isnull().sum()

fecha_dato                   0
ncodpers                     0
ind_empleado               109
pais_residencia            109
sexo                       109
age                        109
fecha_alta                 109
ind_nuevo                  109
antiguedad                 109
indrel                     109
indrel_1mes                548
tiprel_1mes                544
indresi                    109
indext                     109
canal_entrada              683
indfall                    109
tipodom                    109
cod_prov                   340
nomprov                    340
ind_actividad_cliente      109
renta                    10375
segmento                   694
ind_ahor_fin_ult1            0
ind_aval_fin_ult1            0
ind_cco_fin_ult1             0
ind_cder_fin_ult1            0
ind_cno_fin_ult1             0
ind_ctju_fin_ult1            0
ind_ctma_fin_ult1            0
ind_ctop_fin_ult1            0
ind_ctpp_fin_ult1            0
ind_deco_fin_ult1            0
ind_deme_fin_ult1            0
ind_dela_fin_ult1            0
ind_ecue_fin_ult1            0
ind_fond_fin_ult1            0
ind_hip_fin_ult1             0
ind_plan_fin_ult1            0
ind_pres_fin_ult1            0
ind_reca_fin_ult1            0
ind_tjcr_fin_ult1            0
ind_valo_fin_ult1            0
ind_viv_fin_ult1             0
ind_nomina_ult1             64
ind_nom_pens_ult1           64
ind_recibo_ult1              0
month                        0
dtype: int64